<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <servlet>
        <servlet-name>DonneurServlet</servlet-name>
        <servlet-class>servlet.DonneurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DonneurServlet</servlet-name>
        <url-pattern>/donneur</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReceveurServlet</servlet-name>
        <servlet-class>servlet.ReceveurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReceveurServlet</servlet-name>
        <url-pattern>/receveur</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AssociationServlet</servlet-name>
        <servlet-class>servlet.AssociationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssociationServlet</servlet-name>
        <url-pattern>/association</url-pattern>
    </servlet-mapping>
</web-app>
